apiVersion: v1
kind: Namespace
metadata:
  name: {{ git_mirror_namespace }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: git-mirror-nginx
  namespace: {{ git_mirror_namespace }}
data:
  default.conf: |
    server {
      listen 8080;
      server_name _;
      root /usr/share/nginx/html;
      autoindex on;
      location / {
        try_files $uri $uri/ =404;
      }
    }
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: git-mirror
  namespace: {{ git_mirror_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: git-mirror
  template:
    metadata:
      labels:
        app.kubernetes.io/name: git-mirror
    spec:
      containers:
        - name: nginx
          image: {{ git_mirror_image }}
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
              name: http
          volumeMounts:
            - name: git-data
              mountPath: /usr/share/nginx/html
              readOnly: true
            - name: nginx-config
              mountPath: /etc/nginx/conf.d
              readOnly: true
      volumes:
        - name: git-data
          hostPath:
            path: {{ git_mirror_root }}
            type: Directory
        - name: nginx-config
          configMap:
            name: git-mirror-nginx
---
apiVersion: v1
kind: Service
metadata:
  name: git-mirror
  namespace: {{ git_mirror_namespace }}
spec:
  selector:
    app.kubernetes.io/name: git-mirror
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http

