apiVersion: v1
kind: Namespace
metadata:
  name: {{ git_mirror_namespace }}
---
apiVersion: v1
kind: Service
metadata:
  name: git-mirror
  namespace: {{ git_mirror_namespace }}
spec:
  ports:
    - port: {{ git_mirror_port }}
      targetPort: {{ git_mirror_port }}
      protocol: TCP
      name: git
---
apiVersion: v1
kind: Endpoints
metadata:
  name: git-mirror
  namespace: {{ git_mirror_namespace }}
subsets:
  - addresses:
      - ip: {{ git_mirror_host }}
    ports:
      - port: {{ git_mirror_port }}
        protocol: TCP
        name: git
